/* about-section */

.about {
    display: none;
    background-color: var(--main-light-color);
    padding-bottom: 94px;

    @media (min-width: 1200px) {
        display: block;
    }



&__title {
    margin: 0 auto 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

&__container {
    display: flex;
}

&__content {
    display: flex;
    text-align: center;
    gap: 30px;
    margin: auto;
}

&__image-text {
    position: relative;
    top: 267px;
    color: var(--main-light-color);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 1;
}

&__image-text::before {
    position: absolute;
    content: "";
    width: 370px;
    height: 70px;
    right: 0px;
    bottom: -27px;
    z-index: -1;
    background-color: var(--about-images-color);
}

}