/* Client-section */

.clients {

    padding: 60px 0 60px 0;

    @media (min-width: 1200px) {

    padding: 94px 0 94px 0;
    }

&__box {
    margin-top: 50px;
    display: flex;
    gap: var(--card-set-gap);
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

}

&__list {
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) {
    flex-basis: calc((100% - 2*var(--card-set-gap))/2);
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 3*var(--card-set-gap))/3);
    }
}


&__card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--client-svg-color);
    background-color: var(--main-light-color);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    width: 209px;
    height: 92px;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;

    @media (min-width: 768px) {
        width: 223px;
    }

    @media (min-width: 1200px) {
        width: 170px;
    }
}



&__icon {
    fill: var(--client-svg-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}



&__card:hover &__icon,
&__card:focus &__icon {
    fill: var(--accent-color);
    
}

&__card:hover,
&__card:focus {
    border: 1px solid var(--accent-color);
    
}

}