/* contacts */

.header__contacts {
    align-items: center;
    gap: 30px;
    display: none;

    @media (min-width: 480px) {
            display: flex;
        }

    @media (min-width: 480px) and (max-width: 768px) {
        display: block;
        

    }  
}

.footer__contacts--dark {
    font-size: 14px;
    color: var(--secondary-font-color);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

