/* footer */
.footer {
    background-color: var(--border-bg-color);
    color: var(--main-light-color);
    padding: 60px 0;

&__logo-info {
    text-align: center;

     @media (min-width: 768px) {
        text-align: center;
        margin: auto;

     }

     @media (min-width: 1200px) {
        text-align: start;
        margin: 0px;
     }
}

&__item {
    margin: 9px 0;
}

&__adress {
    margin: 20px 0 0 0;
}


&__map {
    font-size: 14px;
    color: var(--main-light-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 231px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

&__contacts--dark:hover,
&__contacts--dark:focus {
    color: var(--accent-color);
}

&__box {
    display: block;
    align-items: baseline;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
        

    }
}

&__card {
    margin-left: 0px;
    text-align: center;
    margin-top: 60px;

   

    @media (min-width: 768px) {
        text-align: center;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @media (min-width: 1200px) {
        align-items: baseline;
        margin-left: 94px;
        margin-right: 94px;
    }
}

&__subscribe-cart {
    margin-left: 0px;
    text-align: center;
    margin-top: 60px;

    @media (min-width: 768px) {
        text-align: center;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

     @media (min-width: 1200px) {
        margin: 0px;
     }
}

&__social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (min-width: 1200px) {
        text-align: start;
    }
}

&__form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (min-width: 1200px) {
        text-align: start;
    }
}

&__form-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    gap: 12px;
    flex-wrap: wrap;

    
    @media (min-width: 1200px) {
        flex-wrap: nowrap;
        

    }  
}

&__input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--border-bg-color);
    color: var(--main-light-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 1200px) {
    width: 353px;
    margin: 0px;
       

    }
}

&__icon-send {
    fill: var(--main-light-color);
}

&__form {
    display: block;
    gap: 12px;
    margin-top: 20px;

        
    @media (min-width: 1200px) {
        margin-top: 0px;
    }
}

}