/* header */
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-header-color);
}

.header__container {
    
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__burger {
    padding: 0;
    background-color: var(--main-light-color);
    border: none;
    
    
    @media (min-width: 480px) {
        display: none;
    }
}

.header__burger-icon {
    fill: var(--main-font-color);
}

.header__burger-icon:hover,
.header__burger-icon:focus {
    fill: var(--accent-color);
}