.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: var(--main-light-color);


&__close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;

    background-color: #FFFFFF;
    outline: none;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

&__close-button:hover,
&__close-button:focus {
    fill: var(--accent-color);
}

&.is-open {
    display: block;
}

&__container {
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}


&__navigation {
    margin-bottom: auto;
}

&__link {
    margin-bottom: 32px;
}

&__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-font-color);
}

&__item:hover,
&__item:focus {
    color: var(--accent-color);
}

&__contacts {
    margin-bottom: 64px;
}

&__contacts-item {
    margin-bottom: 32px;
}

&__contact-mail {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
}

&__contact-phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
    text-decoration: none;
}

&__socials-box {
    display: flex;
    gap: 20px;
}

&__socials {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

&__social-item {
    position: relative;
}

&__social-item:not(:last-child)::after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    top: 0;
    right: -10px;
    
}

}