// backdrop

.back-drop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}

/* modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: var(--main-light-color);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

     @media (max-width: 1199px) {
        
        width: 450px;
        height: 609px;

        

    }


&__fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

&__legend {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--main-font-color);


    width: 90%;
    margin-bottom: 12px;

     
}

&__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-font-color);
}

&__control {
    position: relative;
}

&__person-input {
    width: 82.5%;

     
}

&__tel-input {
    width: 82.5%;

     
}

&__email-input {
    width: 82.5%;

     
}

&__person-icon {
    position: absolute;
    top: 15px;
    left: 14px;
    color: var(--main-font-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

&__phone-icon {
    position: absolute;
    top: 15px;
    left: 14px;
    color: var(--main-font-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

&__email-icon {
    position: absolute;
    top: 15px;
    left: 14px;
    color: var(--main-font-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

&__person-input:focus {
    border-color: var(--accent-color);
}

&__control:focus-within &__person-icon {
    fill: var(--accent-color);
}

&__tel-input:focus {
    border-color: var(--accent-color);
}

&__control:focus-within &__phone-icon {
    fill: var(--accent-color);
}

&__email-input:focus {
    border-color: var(--accent-color);
}

&__control:focus-within &__email-icon {
    fill: var(--accent-color);
}

&__text-area {
    display: block;
    width: 82.5%;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

        
}

&__text-area:focus {
    border-color: var(--accent-color);
}

&__box {
    margin-bottom: 10px;
}

}

/*modal checkbox */

.modal__checkbox {
    display: flex;


.checkbox__label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

.checkbox__link {
    color: var(--accent-color);
    margin-left: 2px;
}

.checkbox__box {
    margin-left: 12px;
    margin-right: 7px;
    position: relative;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-font-color);
    border-radius: 2px;
    cursor: pointer;
}

.checkbox__icon {
    position: absolute;
    top: -2px;
    left: -2px;
    color: inherit;
    border-radius: 2px;
    opacity: 0;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill, opacity;
}

.checkbox__input:checked + .checkbox__icon {
    background-color: var(--accent-color);
    fill: var(--main-light-color);
    opacity: 1;
}

}