/* Portfolio section */

.portfolio {
    padding: 94px 0;


&__content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
}

&__item {
    margin-top: calc(-1px + var(--card-set-gap));
    margin-left: calc(-6px + var(--card-set-gap));
    flex-basis: calc(100% / 3 - var(--card-set-gap));
}

&__link {
    text-decoration: none;
    display: block;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

&__link:hover,
&__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__drop-borders {
    position: relative;
    overflow: hidden;
}

&__drop-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, transform;
}

&__drop-item {
    position: absolute;
    width: 322px;
    height: 168px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
}

&__link:hover &__drop-box,
&__link:focus &__drop-box {
    opacity: 1;
    transform: translateY(-100%);
}

&__card-content {
    padding: 20px 24px;
    border-left: 1px solid var(--border-portfolio-color);
    border-right: 1px solid var(--border-portfolio-color);
    border-bottom: 1px solid var(--border-portfolio-color);
}

&__title {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-align: left;
    width: 322px;
}

&__text {
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 4px;
}

}