/* team-section */

.team {
    padding: 60px 0 60px 0;
    background-color: var(--section-team-bg-color);

    @media (min-width: 1200px) {
    padding: 94px 0 94px 0;
    }



&__title {
    margin: 0 0 50px 0;
}

&__content {
    display: flex;
}

&__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    
    

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    
}

&__list-item {

    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) and (max-width: 1199px) {
            flex-basis: calc((100% - 2*var(--card-set-gap))/2);
        }
}



&__name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

&__position {
    text-align: center;
    color: var(--secondary-font-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

&__info {
    padding: 30px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-light-color);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);


    @media (min-width: 768px) and (max-width: 1199px) {
            max-width: 354px;
        }
              
}
}